@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    max-width: 100vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    z-index: 50;
}


.Landingpage {
    min-height: 100vh; /* Full viewport height */
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 20px;
    box-sizing: border-box; /* Prevents padding from affecting width */
    overflow-x: hidden; /* Ensures no horizontal scroll */
    overflow-y: hidden;
}

/* Fix for elements causing overflow */
body, html {
    width: 100%;
    overflow-x: hidden; /* Prevents any overflow globally */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .Landingpage {
        padding: 10px;
        
        margin-left: -3vh;
        width: 100%; /* Ensures full width */
    }
}

@media (max-width: 480px) {
    .Landingpage {
        text-align: center;
        margin: auto;
        margin-left: -6vw;
        margin-bottom: 30vh; /* increase the bottom size if you r facing the footer overflow issue.
        padding: 10px;
        flex-direction: column; 
        width: 100%; /* Prevents any overflow */
    }
}

.chatbot {
    width: 500px;
    max-width: 900px;
    height: 60vh;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    background-color: #1a202c;
    border-radius: 10px;
    padding: 20px;
}

@media (max-width: 600px) {
    .chatbot {
        width: 95%;
        height: 70vh;
    }
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    padding: 10px 20px;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .footer {
        min-height: 50px;
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        min-height: 20vw;
        padding: 6px 10px;
        font-size: 12px;
        flex-direction: column;
        text-align: center;
    }
}

